<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Config Editor"
            extensions="json"
            icon="icons/sample.png"
            contributorClass="com.windhoverlabs.ide.config.ConfigEditorContributor"
            class="com.windhoverlabs.ide.config.ConfigEditor"
            id="com.windhoverlabs.ide.config.ConfigEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="Sample Wizards"
            id="AirlinerIDE">
      </category>
      <wizard
            name="Multi-page Editor file"
            icon="icons/sample.png"
            category="AirlinerIDE"
            class="com.windhoverlabs.ide.wizards.SampleNewWizard"
            id="com.windhoverlabs.ide.wizards.SampleNewWizard">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.windhoverlabs.ide.config.CFSPreferencePage"
            id="com.windhoverlabs.ide.config.CFSPreferencePage"
            name="CFS Preferences">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.windhoverlabs.ide.config.PreferenceInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="com.windhoverlabs.ide.properties.SamplePropertyPage"
            id="com.windhoverlabs.ide.properties.samplePropertyPage"
            name="Sample Page"
            nameFilter="*.*">
         <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFile">
            </instanceof>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertiesView">
      <excludeSources
            id="dynamicexample.excludeSources1">
      </excludeSources>
   </extension>


</plugin>
